In [2]:
import numpy as np
import pandas as pd

In [3]:
prim_df= pd.read_csv('../../../data/geo_mode_data/corona.csv')
prim_df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,12/31/2019,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,1/1/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,1/2/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,1/3/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,1/4/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
5,AFG,Asia,Afghanistan,1/5/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
6,AFG,Asia,Afghanistan,1/6/2020,NaN,0.0,0.0,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
7,AFG,Asia,Afghanistan,1/7/2020,NaN,0.0,0.0,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
8,AFG,Asia,Afghanistan,1/8/2020,NaN,0.0,0.0,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
9,AFG,Asia,Afghanistan,1/9/2020,NaN,0.0,0.0,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [71]:
prim_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [4]:
filtered_df = prim_df.loc[:,
            ['date','continent','population','population_density','location','gdp_per_capita','cardiovasc_death_rate',
             'hospital_beds_per_thousand','life_expectancy','new_cases']]
filtered_df.dropna(inplace=True)

In [5]:
filtered_df.head(10)

,date,continent,location,gdp_per_capita,cardiovasc_death_rate,hospital_beds_per_thousand,life_expectancy,new_cases
0,12/31/2019,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
1,1/1/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
2,1/2/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
3,1/3/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
4,1/4/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
5,1/5/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
6,1/6/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
7,1/7/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
8,1/8/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0
9,1/9/2020,Asia,Afghanistan,1803.987,597.029,0.5,64.83,0.0

In [6]:
filtered_df['ones'] = 1
rebuild_df = filtered_df.iloc[:,1:-1].groupby(['continent','location','gdp_per_capita','cardiovasc_death_rate',
             'hospital_beds_per_thousand','life_expectancy']).sum().reset_index()

In [29]:
def sec_grad_std(x):
    x = x.values
    if (x.size >=3):
        first = x[:-1]-x[1:]
        second = np.array(first[:-1]-first[1:])
        num_of_weeks = second.size//7
        weekly_grad = []
        for i in range(num_of_weeks):
            weekly_grad.append(second[7*i:7*(i+1)].std())
        #print(len(weekly_grad))
        weekly_grad = np.array(weekly_grad)
    else:
        weekly_grad = np.array(np.array(x).std())
    return weekly_grad

In [30]:
std_spread = filtered_df.groupby('location')['new_cases'].apply(sec_grad_std)

In [48]:
std_df = pd.DataFrame()
std_df['location'] = std_spread.index
std_df['nums'] = std_spread.values
std_df.head()

              location                                               nums
0          Afghanistan  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.83299312...
1              Albania  [7.907630001770312, 11.096975134821973, 12.645...
2              Algeria  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.34992710...
3  Antigua and Barbuda  [4.135461378894322, 1.456862718169367, 5.11101...
4            Argentina  [9.672177645606148, 15.670067658059528, 47.405...

In [61]:


def series_builder(x):
    #print(type(x.values),x.shape,type(x[0]),type(x[1]))
    #print(type(x.location))
    # test = np.append(x[1],x[0],axis=1)
    lis = list(x[1])
    val = x[0]
    big_lis = []
    for i in range(x[1].shape[0]):
        temp = np.array([val,lis[i]])
        big_lis.append(temp)
    big_arr = np.array(big_lis)
    # temp_ser = np.concatenate((x.values,np.array([x.location,]*x.values.shape[0])),axis=1)
    # print(temp_ser)
    return big_arr

new_ser = std_df.apply(series_builder,axis=1)

In [62]:
tol_arr = np.vstack(new_ser)

In [63]:
fin_df = pd.DataFrame(data=tol_arr,columns=['location','grad'])

In [67]:
full_df = fin_df.merge(rebuild_df, on='location')

In [69]:
full_df.tail(10)

,location,grad,continent,gdp_per_capita,cardiovasc_death_rate,hospital_beds_per_thousand,life_expectancy,new_cases
1823,Fiji,2.2038926600773587,Oceania,8702.975,412.82,2.3,67.44,32.0
1824,Fiji,4.6291004988627575,Oceania,8702.975,412.82,2.3,67.44,32.0
1825,Fiji,0.9258200997725514,Oceania,8702.975,412.82,2.3,67.44,32.0
1826,Fiji,0.0,Oceania,8702.975,412.82,2.3,67.44,32.0
1827,Fiji,0.0,Oceania,8702.975,412.82,2.3,67.44,32.0
1828,Fiji,0.0,Oceania,8702.975,412.82,2.3,67.44,32.0
1829,Fiji,0.9258200997725514,Oceania,8702.975,412.82,2.3,67.44,32.0
1830,Fiji,0.0,Oceania,8702.975,412.82,2.3,67.44,32.0
1831,Fiji,2.0503857277724746,Oceania,8702.975,412.82,2.3,67.44,32.0
1832,Fiji,1.1605769149479943,Oceania,8702.975,412.82,2.3,67.44,32.0

In [70]:
full_df.to_csv('../../../data/geo_mode_data/final.csv',index=False)

In [83]:
def sec_grad_mean(x):
    x = x.values
    sec_grad = 0
    if (x.size >=3):
        first = x[:-1]-x[1:]
        second = np.array(first[:-1]-first[1:])
        sec_grad = second.mean()
    else:
        sec_grad = np.array(x).mean()
    return sec_grad

In [85]:
mean_spread = filtered_df.groupby('location')['new_cases'].apply(sec_grad_mean)