In [1]:
import numpy as np
import pandas as pd

In [2]:
prim_df= pd.read_csv('../../../data/geo_mode_data/corona.csv')
test_df = pd.read_csv('../../../data/geo_mode_data/test.csv')
prim_df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,12/31/2019,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,1/1/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,1/2/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,1/3/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,1/4/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
5,AFG,Asia,Afghanistan,1/5/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
6,AFG,Asia,Afghanistan,1/6/2020,NaN,0.0,0.0,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
7,AFG,Asia,Afghanistan,1/7/2020,NaN,0.0,0.0,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
8,AFG,Asia,Afghanistan,1/8/2020,NaN,0.0,0.0,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
9,AFG,Asia,Afghanistan,1/9/2020,NaN,0.0,0.0,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [3]:
prim_df.columns
test_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

Index(['index', 'gdp_per_capita', 'hospital_beds_per_thousand',
       'human_development_index', 'life_expectancy', 'Population',
       'population_density'],
      dtype='object')

In [7]:
filtered_df = prim_df.loc[:,
            ['date','continent','gdp_per_capita','location','hospital_beds_per_thousand',
            'human_development_index', 'life_expectancy', 'population',
            'population_density','new_cases']]
filtered_df.dropna(inplace=True)
filtered_df.to_csv('../../../data/geo_mode_data/new_corona.csv',index=False)

In [8]:
filtered_df.head(10)

,date,continent,gdp_per_capita,location,hospital_beds_per_thousand,human_development_index,life_expectancy,population,population_density,new_cases
0,12/31/2019,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
1,1/1/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
2,1/2/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
3,1/3/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
4,1/4/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
5,1/5/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
6,1/6/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
7,1/7/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
8,1/8/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0
9,1/9/2020,Asia,1803.987,Afghanistan,0.5,0.498,64.83,38928341.0,54.422,0.0

In [10]:
filtered_df['ones'] = 1
rebuild_df = filtered_df.iloc[:,1:-1].groupby(['continent','gdp_per_capita','location','hospital_beds_per_thousand',
            'human_development_index', 'life_expectancy', 'population',
            'population_density',]).sum().reset_index()

In [11]:
def sec_grad_std(x):
    x = x.values
    if (x.size >=3):
        first = x[:-1]-x[1:]
        second = np.array(first[:-1]-first[1:])
        num_of_weeks = second.size//7
        weekly_grad = []
        for i in range(num_of_weeks):
            weekly_grad.append(second[7*i:7*(i+1)].std())
        #print(len(weekly_grad))
        weekly_grad = np.array(weekly_grad)
    else:
        weekly_grad = np.array(np.array(x).std())
    return weekly_grad

In [12]:
std_spread = filtered_df.groupby('location')['new_cases'].apply(sec_grad_std)

In [13]:
std_df = pd.DataFrame()
std_df['location'] = std_spread.index
std_df['nums'] = std_spread.values
std_df.head()

              location                                               nums
0          Afghanistan  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.83299312...
1              Albania  [7.907630001770312, 11.096975134821973, 12.645...
2              Algeria  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.34992710...
3  Antigua and Barbuda  [4.135461378894322, 1.456862718169367, 5.11101...
4            Argentina  [9.672177645606148, 15.670067658059528, 47.405...

In [14]:


def series_builder(x):
    #print(type(x.values),x.shape,type(x[0]),type(x[1]))
    #print(type(x.location))
    # test = np.append(x[1],x[0],axis=1)
    lis = list(x[1])
    val = x[0]
    big_lis = []
    for i in range(x[1].shape[0]):
        temp = np.array([val,lis[i]])
        big_lis.append(temp)
    big_arr = np.array(big_lis)
    # temp_ser = np.concatenate((x.values,np.array([x.location,]*x.values.shape[0])),axis=1)
    # print(temp_ser)
    return big_arr

new_ser = std_df.apply(series_builder,axis=1)

In [15]:
tol_arr = np.vstack(new_ser)

In [16]:
fin_df = pd.DataFrame(data=tol_arr,columns=['location','grad'])

In [23]:
full_df = fin_df.merge(rebuild_df, on='location')
full_df['continent'] = full_df['continent'].astype('category')
full_df["continent"] = full_df["continent"].cat.codes
full_df['gradient'] = full_df['grad']
full_df.drop(['location','new_cases','grad'],axis=1,inplace=True)

In [24]:
full_df.tail(10)

,continent,gdp_per_capita,hospital_beds_per_thousand,human_development_index,life_expectancy,population,population_density,gradient
1823,4,8702.975,2.3,0.741,67.44,896444.0,49.562,2.2038926600773587
1824,4,8702.975,2.3,0.741,67.44,896444.0,49.562,4.6291004988627575
1825,4,8702.975,2.3,0.741,67.44,896444.0,49.562,0.9258200997725514
1826,4,8702.975,2.3,0.741,67.44,896444.0,49.562,0.0
1827,4,8702.975,2.3,0.741,67.44,896444.0,49.562,0.0
1828,4,8702.975,2.3,0.741,67.44,896444.0,49.562,0.0
1829,4,8702.975,2.3,0.741,67.44,896444.0,49.562,0.9258200997725514
1830,4,8702.975,2.3,0.741,67.44,896444.0,49.562,0.0
1831,4,8702.975,2.3,0.741,67.44,896444.0,49.562,2.0503857277724746
1832,4,8702.975,2.3,0.741,67.44,896444.0,49.562,1.1605769149479943

In [25]:
full_df.to_csv('../../../data/geo_mode_data/final.csv',index=False)

In [ ]:
def sec_grad_mean(x):
    x = x.values
    sec_grad = 0
    if (x.size >=3):
        first = x[:-1]-x[1:]
        second = np.array(first[:-1]-first[1:])
        sec_grad = second.mean()
    else:
        sec_grad = np.array(x).mean()
    return sec_grad

In [ ]:
mean_spread = filtered_df.groupby('location')['new_cases'].apply(sec_grad_mean)