## peek into final results of main pipeline

In [1]:
import numpy as np 
import pandas as pd

In [5]:
train_df = pd.read_csv('../../../data/main_data/final_train.csv')
train_df.head()
print(train_df.shape)
print(train_df.columns)
print(train_df.nunique())
print(train_df.info())
print("Null value report\n",train_df.isnull().sum())

,index,formal_date,quarter,date,day_of_week,month,Suspected_Local,Suspected_Foreign,temp,humidity,sun_hours,province,neir_infected_cases,locked_percn,geo_gradient,TotalInfected
0,1,2020-03-31,1,31,1,3,41,1,28.5,81.0,7.15,1,34,1.0,0.541970,11
1,25,2020-03-31,1,31,1,3,0,0,30.0,78.0,6.15,9,1,1.0,0.500000,0
2,24,2020-03-31,1,31,1,3,0,0,29.5,82.0,5.74,9,1,1.0,0.071094,0
3,23,2020-03-31,1,31,1,3,0,0,30.0,81.0,4.58,9,0,1.0,0.071204,0
4,22,2020-03-31,1,31,1,3,0,0,31.0,81.0,4.87,9,1,1.0,0.066271,0

(5250, 16)
Index(['index', 'formal_date', 'quarter', 'date', 'day_of_week', 'month',
       'Suspected_Local', 'Suspected_Foreign', 'temp', 'humidity', 'sun_hours',
       'province', 'neir_infected_cases', 'locked_percn', 'geo_gradient',
       'TotalInfected'],
      dtype='object')
index                   25
formal_date            210
quarter                  4
date                    31
day_of_week              7
month                    8
Suspected_Local         70
Suspected_Foreign        4
temp                    21
humidity                24
sun_hours              105
province                 9
neir_infected_cases    131
locked_percn            18
geo_gradient            25
TotalInfected           49
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5250 entries, 0 to 5249
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                5250 non-null   int64
 1   formal_date          5250 non-null   object
 2   quarter              5250 non-null   int64
 3   date                 5250 non-null   int64
 4   day_of_week          5250 non-null   int64
 5   month                5250 non-null   int64
 6   Suspected_Local      5250 non-null   int64
 7   Suspected_Foreign    5250 non-null   int64
 8   temp                 5250 non-null   float64
 9   humidity             5250 non-null   float64
 10  sun_hours            5250 non-null   float64
 11  province             5250 non-null   int64
 12  neir_infected_cases  5250 non-null   int64
 13  locked_percn         5250 non-null   float64
 14  geo_gradient         5250 non-null   float64
 15  TotalInfected        5250 non-null   int64
dtypes: float64(5), int64(10), object(1)
memory usage: 656.4+ KB
None
Null value report
 index                  0
formal_date            0
quarter                0
date                   0
day_of_week            0
month                  0
Suspected_Local        0
Suspected_Foreign      0
temp                   0
humidity               0
sun_hours              0
province               0
neir_infected_cases    0
locked_percn           0
geo_gradient           0
TotalInfected          0
dtype: int64

In [2]:
test_df = pd.read_csv('../../../data/main_data/final_test.csv')
test_df.tail()
print(test_df.shape)
print(test_df.columns)
print(test_df.nunique())
print(test_df.info())
print(test_df.isnull().sum())

,index,formal_date,quarter,date,day_of_week,month,Suspected_Local,Suspected_Foreign,temp,humidity,sun_hours,province,neir_infected_cases,locked_percn,geo_gradient,TotalInfected
5220,21,2020-10-31,4,31,5,10,0,0,26.0,0.5,3.35,9,1,0.0,0.080363,0
5221,22,2020-10-31,4,31,5,10,0,0,27.0,0.5,4.47,9,33,0.0,0.066271,0
5222,23,2020-10-31,4,31,5,10,0,0,28.0,0.5,4.81,9,31,0.0,0.071204,0
5223,24,2020-10-31,4,31,5,10,0,0,27.5,0.5,4.00,9,37,0.0,0.071094,0
5224,25,2020-10-31,4,31,5,10,0,0,28.0,0.5,3.35,9,2,0.0,0.500000,0

(5225, 16)
Index(['index', 'formal_date', 'quarter', 'date', 'day_of_week', 'month',
       'Suspected_Local', 'Suspected_Foreign', 'temp', 'humidity', 'sun_hours',
       'province', 'neir_infected_cases', 'locked_percn', 'geo_gradient',
       'TotalInfected'],
      dtype='object')
index                   25
formal_date            209
quarter                  4
date                    31
day_of_week              7
month                    8
Suspected_Local         69
Suspected_Foreign        4
temp                    21
humidity                24
sun_hours              105
province                 9
neir_infected_cases    131
locked_percn            18
geo_gradient            25
TotalInfected           49
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5225 entries, 0 to 5224
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                5225 non-null   int64
 1   formal_date          5225 non-null   object
 2   quarter              5225 non-null   int64
 3   date                 5225 non-null   int64
 4   day_of_week          5225 non-null   int64
 5   month                5225 non-null   int64
 6   Suspected_Local      5225 non-null   int64
 7   Suspected_Foreign    5225 non-null   int64
 8   temp                 5225 non-null   float64
 9   humidity             5225 non-null   float64
 10  sun_hours            5225 non-null   float64
 11  province             5225 non-null   int64
 12  neir_infected_cases  5225 non-null   int64
 13  locked_percn         5225 non-null   float64
 14  geo_gradient         5225 non-null   float64
 15  TotalInfected        5225 non-null   int64
dtypes: float64(5), int64(10), object(1)
memory usage: 653.2+ KB
None
index                  0
formal_date            0
quarter                0
date                   0
day_of_week            0
month                  0
Suspected_Local        0
Suspected_Foreign      0
temp                   0
humidity               0
sun_hours              0
province               0
neir_infected_cases    0
locked_percn           0
geo_gradient           0
TotalInfected          0
dtype: int64

In [4]:
test_df = pd.read_csv('../../../data/main_data/Age_corona_suseptability_dataet.csv')
test_df.tail()
print(test_df.shape)
print(test_df.columns)
print(test_df.nunique())
print(test_df.info())
print(test_df.isnull().sum())

  age_range  suseptable
0     0<<10        0.37
1    10<<20        0.31
2    20<<40        0.82
3    40<<60        0.73
4       >60        0.71

(5, 2)
Index(['age_range', 'suseptable'], dtype='object')
age_range     5
suseptable    5
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age_range   5 non-null      object
 1   suseptable  5 non-null      float64
dtypes: float64(1), object(1)
memory usage: 208.0+ bytes
None
age_range     0
suseptable    0
dtype: int64

In [6]:
test_df = pd.read_csv('../../../data/main_data/Age_district_percentages.csv')
test_df.tail()
print(test_df.shape)
print(test_df.columns)
print(test_df.nunique())
print(test_df.info())
print(test_df.isnull().sum())

       District      0<10     10<20     20<40     40<60       60<  psum
20  Polonnaruwa  0.183150  0.156968  0.314407  0.247129  0.098346     1
21      Badulla  0.180857  0.169002  0.283083  0.250011  0.117047     1
22   Moneragala  0.187535  0.165172  0.317726  0.237220  0.092347     1
23    Ratnapura  0.179481  0.164345  0.256214  0.261107  0.138852     1
24      Kegalle  0.177911  0.162569  0.227599  0.272669  0.159252     1

(25, 7)
Index(['District', '0<10', '10<20', '20<40', '40<60', '60<', 'psum'], dtype='object')
District    25
0<10        25
10<20       25
20<40       25
40<60       25
60<         25
psum         1
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   District  25 non-null     object
 1   0<10      25 non-null     float64
 2   10<20     25 non-null     float64
 3   20<40     25 non-null     float64
 4   40<60     25 non-null     float64
 5   60<       25 non-null     float64
 6   psum      25 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.5+ KB
None
District    0
0<10        0
10<20       0
20<40       0
40<60       0
60<         0
psum        0
dtype: int64

In [10]:
test_df = pd.read_csv('../../../data/main_data/emp_dist.csv')
test_df.tail()
print(test_df.shape)
print(test_df.columns)
print(test_df.nunique())
print(test_df.info())
print(test_df.isnull().sum())

,District,employed_Total,unemployed_Total,unemployed_housework,unemployed_studies,unemployed_rest,employeed_service,employeed_agriculture,employeed_Industries
20,Polonnaruwa,52.9,47.1,22.2312,9.9381,14.9307,24.9159,13.3837,14.6004
21,Badulla,52.8,47.2,22.2784,9.9592,14.9624,24.8688,13.3584,14.5728
22,Moneragala,57.9,42.1,19.8712,8.8831,13.3457,27.2709,14.6487,15.9804
23,Ratnapura,57.0,43.0,20.2960,9.0730,13.6310,26.8470,14.4210,15.7320
24,Kegalle,53.3,46.7,22.0424,9.8537,14.8039,25.1043,13.4849,14.7108

(25, 9)
Index(['District', 'employed_Total', 'unemployed_Total',
       'unemployed_housework', 'unemployed_studies', 'unemployed_rest',
       'employeed_service', 'employeed_agriculture', 'employeed_Industries'],
      dtype='object')
District                 25
employed_Total           23
unemployed_Total         23
unemployed_housework     23
unemployed_studies       23
unemployed_rest          23
employeed_service        23
employeed_agriculture    23
employeed_Industries     23
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   District               25 non-null     object
 1   employed_Total         25 non-null     float64
 2   unemployed_Total       25 non-null     float64
 3   unemployed_housework   25 non-null     float64
 4   unemployed_studies     25 non-null     float64
 5   unemployed_rest        25 non-null     float64
 6   employeed_service      25 non-null     float64
 7   employeed_agriculture  25 non-null     float64
 8   employeed_Industries   25 non-null     float64
dtypes: float64(8), object(1)
memory usage: 1.9+ KB
None
District                 0
employed_Total           0
unemployed_Total         0
unemployed_housework     0
unemployed_studies       0
unemployed_rest          0
employeed_service        0
employeed_agriculture    0
employeed_Industries     0
dtype: int64