In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
date_dist_df = pd.read_csv('../../../data/main_data/DateDistric.csv')
districts_df = pd.read_csv('../../../data/main_data/districts.csv')
weather_df = pd.read_csv('../../../data/main_data/weather_pattern.csv')

In [3]:
print("date-district-dataset \n")
date_dist_df.head()
print("district-feature-dataset")
districts_df.head()
print("weather-pattern-dataset")
weather_df.head()

date-district-dataset

district-feature-dataset
weather-pattern-dataset

,Unnamed: 0,ID,Date,District,Suspected_Local,Suspected_Foreign,Suspected_Total,TotalInfected
0,0,0331_Colombo,03-31,Colombo,12,0,12,30
1,1,0331_Gampaha,03-31,Gampaha,41,1,42,11
2,2,0331_Puttalam,03-31,Puttalam,1,0,1,15
3,3,0331_Kalutara,03-31,Kalutara,5,0,5,18
4,4,0331_Anuradhapura,03-31,Anuradhapura,2,0,2,0

,ProvinceNumber,Province,Provincial Population,District Number,District,Elevation(m),Neighbour district numbers,Neighbour District Names,District Population,Population density /km2,No. of Police Stations,OIC division,Division Population,Unnamed: 13,Police station,Population
0,1,Western Province,"6,149,000",1.0,Colombo District,5.0,2.0,Gampaha,"2,448,000","3,502",48.0,Colombo Central,NaN,1.0,Pettah,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Kalutara,NaN,NaN,NaN,NaN,NaN,2.0,Keselwatta,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,7.0,Ratnapura,NaN,NaN,NaN,NaN,NaN,3.0,Dam Street,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Kegalle,NaN,NaN,NaN,NaN,NaN,4.0,Woulfendal,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Fort,NaN

,District Number,Unnamed: 1,District,Elevation to City(m),Unnamed: 4,Unnamed: 5,Jan,Feb,March,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Avg
0,1.0,NaN,Colombo,5.0,NaN,NaN,27,28.0,28.5,28.5,28.5,28.5,28.0,28.0,27.5,27.5,27.0,27.5,27.88
1,2.0,NaN,Gampaha,15.0,NaN,NaN,27,28.0,28.5,28.5,29.0,28.5,28.0,27.5,28.0,27.5,28.0,28.0,28.04
2,3.0,NaN,Kalutara,10.0,NaN,NaN,26.5,27.5,28.0,29.0,29.0,28.5,28.5,27.5,28.0,27.5,27.0,27.0,27.83
3,4.0,NaN,Galle,8.0,NaN,NaN,27,27.0,28.5,28.5,28.0,28.0,27.5,27.5,27.5,27.5,27.0,27.0,27.58
4,5.0,NaN,Matara,10.0,NaN,NaN,26,26.0,28.5,28.5,28.0,28.0,27.5,27.5,27.5,28.5,27.0,27.0,27.50

In [4]:
# districts_df.set_index('District Number')
weather_df = weather_df.set_index('District Number')

district name encoder

In [5]:
dis_enc = districts_df.iloc[:,[3,4]]
dis_enc = dis_enc.dropna(axis=0)
# dis_enc.iloc[:,0]=dis_enc.iloc[:,0].astype(int)
dis_enc.iloc[:,0]=dis_enc.iloc[:,0]

 get day, weekday, month from date

In [6]:
def date_converter(x,year='2020'):
    dt = str(x).split('-')
    date = year+'/'+dt[0]+'/'+dt[1]
    date_obj = datetime.strptime(date,'%Y/%m/%d')
    return date_obj

date_dist_df['formal_date']= date_dist_df.loc[:,'Date'].apply(lambda x: date_converter(x))

In [7]:
date_dist_df['quarter'] = date_dist_df['formal_date'].dt.quarter
date_dist_df['date'] = date_dist_df['formal_date'].dt.day
date_dist_df['day_of_week'] = date_dist_df['formal_date'].dt.dayofweek
date_dist_df['month'] = date_dist_df['formal_date'].dt.month

temperature from mount

In [8]:
def get_temp(month):
    temp_ser = weather_df.iloc[:,int(month)+6]
    return temp_ser
    
tmp = get_temp('06')

In [9]:
date_dist_df['index'] = date_dist_df.iloc[:,0]

In [10]:
date_dist_df.head()

,Unnamed: 0,ID,Date,District,Suspected_Local,Suspected_Foreign,Suspected_Total,TotalInfected,formal_date,quarter,date,day_of_week,month,index
0,0,0331_Colombo,03-31,Colombo,12,0,12,30,2020-03-31,1,31,1,3,0
1,1,0331_Gampaha,03-31,Gampaha,41,1,42,11,2020-03-31,1,31,1,3,1
2,2,0331_Puttalam,03-31,Puttalam,1,0,1,15,2020-03-31,1,31,1,3,2
3,3,0331_Kalutara,03-31,Kalutara,5,0,5,18,2020-03-31,1,31,1,3,3
4,4,0331_Anuradhapura,03-31,Anuradhapura,2,0,2,0,2020-03-31,1,31,1,3,4

In [11]:
# date_dist_df.columns
date_dist_df = date_dist_df.drop(['Unnamed: 0', 'ID', 'Date', 'District'],axis=1)

In [12]:
date_dist_df = date_dist_df.set_index('index')
date_dist_df.head()

,Suspected_Local,Suspected_Foreign,Suspected_Total,TotalInfected,formal_date,quarter,date,day_of_week,month
index,,,,,,,,,
0,12,0,12,30,2020-03-31,1,31,1,3
1,41,1,42,11,2020-03-31,1,31,1,3
2,1,0,1,15,2020-03-31,1,31,1,3
3,5,0,5,18,2020-03-31,1,31,1,3
4,2,0,2,0,2020-03-31,1,31,1,3

In [13]:
# date_dist_df['temperature_of_month'] = date_dist_df['index'].map(tmp)

melt and reconfigure weather pattern dataset

In [14]:
filtered_w_df = weather_df.iloc[:,range(5,17)].reset_index()
filtered_w_df.head()

,District Number,Jan,Feb,March,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1.0,27,28.0,28.5,28.5,28.5,28.5,28.0,28.0,27.5,27.5,27.0,27.5
1,2.0,27,28.0,28.5,28.5,29.0,28.5,28.0,27.5,28.0,27.5,28.0,28.0
2,3.0,26.5,27.5,28.0,29.0,29.0,28.5,28.5,27.5,28.0,27.5,27.0,27.0
3,4.0,27,27.0,28.5,28.5,28.0,28.0,27.5,27.5,27.5,27.5,27.0,27.0
4,5.0,26,26.0,28.5,28.5,28.0,28.0,27.5,27.5,27.5,28.5,27.0,27.0

In [15]:
filtered_w_df.columns

Index(['District Number', 'Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      dtype='object')

In [16]:
melted_df = filtered_w_df.melt(id_vars="District Number",
                               var_name = "mon",
                               value_name= "temp")

In [17]:
def month_converter(x):
    mon_lis = ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    return mon_lis.index(x)

melted_df['month'] = melted_df.loc[:,'mon'].apply(lambda x: month_converter(x))
melted_df = melted_df.rename(columns={'District Number':'index'})
melted_df = melted_df.drop('mon',axis=1)
melted_df = melted_df.loc[:,['index','month','temp']]

In [18]:
melted_df.to_csv('../../../data/main_data/melted_weather.csv',index=False)

In [19]:
date_dist_df = date_dist_df.merge(melted_df, on=["index","month"])

In [20]:
date_dist_df.head()

,index,Suspected_Local,Suspected_Foreign,Suspected_Total,TotalInfected,formal_date,quarter,date,day_of_week,month,temp
0,1,41,1,42,11,2020-03-31,1,31,1,3,28.5
1,2,1,0,1,15,2020-03-31,1,31,1,3,28.5
2,3,5,0,5,18,2020-03-31,1,31,1,3,29
3,4,2,0,2,0,2020-03-31,1,31,1,3,28.5
4,5,7,0,7,1,2020-03-31,1,31,1,3,28.5

In [21]:
humidity_df = pd.read_csv('../../../data/main_data/humidity.csv')
humidity_df.head()

,District Number,Unnamed: 1,District,Unnamed: 3,Jan,Feb,March,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Avg
0,1,NaN,Colombo,NaN,77,74,76,77,82,82,83,82,85,82,81,82,NaN
1,2,NaN,Gampaha,NaN,75,71,75,77,82,82,83,83,84,82,81,81,NaN
2,3,NaN,Kalutara,NaN,78,76,76,77,81,81,83,82,84,81,80,82,NaN
3,4,NaN,Galle,NaN,79,76,75,77,81,81,83,82,83,80,80,81,NaN
4,5,NaN,Matara,NaN,76,73,75,77,82,81,82,80,83,82,81,81,NaN

In [22]:
hum_df = humidity_df.iloc[:,range(4,14)]
hum_df['index'] = humidity_df['District Number']
hum_df = hum_df.set_index('index')
hum_df = hum_df.reset_index()

C:\Users\deela\anaconda3\envs\Main\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
melted_df = hum_df.melt(id_vars="index",
                               var_name = "mon",
                               value_name= "humidity")
def month_converter(x):
    mon_lis = ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    return mon_lis.index(x)

melted_df['month'] = melted_df.loc[:,'mon'].apply(lambda x: month_converter(x))
melted_df = melted_df.rename(columns={'District Number':'index'})
melted_df = melted_df.drop('mon',axis=1)
melted_df = melted_df.loc[:,['index','month','humidity']]

In [24]:
melted_df.head()

   index  month  humidity
0      1      0        77
1      2      0        75
2      3      0        78
3      4      0        79
4      5      0        76

In [25]:
melted_df.to_csv('../../../data/main_data/melted_humidity.csv',index=False)

In [26]:
sun_hours_df  = pd.read_csv('../../../data/main_data/sun_hours.csv')
sun_hours_df.head()

,District Number,Unnamed: 1,District,Elevation to City(m),Unnamed: 4,Unnamed: 5,Jan,Feb,March,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Avg
0,1,NaN,Colombo,5,NaN,NaN,8.79,9.18,8.40,7.10,5.15,4.45,4.35,4.87,4.33,4.94,5.67,5.95,6.10
1,2,NaN,Gampaha,15,NaN,NaN,9.46,10.00,8.16,7.65,5.06,4.70,4.44,5.48,4.73,5.30,6.10,6.04,6.43
2,3,NaN,Kalutara,10,NaN,NaN,8.88,8.80,7.77,7.10,4.87,4.60,4.68,5.02,4.50,5.21,5.57,6.08,6.09
3,4,NaN,Galle,8,NaN,NaN,8.50,9.27,8.69,6.65,4.58,4.60,4.98,6.42,4.68,4.74,5.83,5.32,6.19
4,5,NaN,Matara,10,NaN,NaN,9.18,9.89,8.94,7.35,5.74,6.28,5.31,7.45,6.18,5.16,6.17,5.77,6.95

In [27]:
sun_df = sun_hours_df.iloc[:,range(6,18)]
sun_df['index'] = sun_hours_df['District Number']
sun_df = sun_df.set_index('index')
sun_df = sun_df.reset_index()

melted_df = sun_df.melt(id_vars="index",
                               var_name = "mon",
                               value_name= "sun_hours")
def month_converter(x):
    mon_lis = ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    return mon_lis.index(x)

melted_df['month'] = melted_df.loc[:,'mon'].apply(lambda x: month_converter(x))
melted_df = melted_df.rename(columns={'District Number':'index'})
melted_df = melted_df.drop('mon',axis=1)
melted_df = melted_df.loc[:,['index','month','sun_hours']]

C:\Users\deela\anaconda3\envs\Main\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
melted_df.head()

   index  month  sun_hours
0      1      0       8.79
1      2      0       9.46
2      3      0       8.88
3      4      0       8.50
4      5      0       9.18

In [29]:
melted_df.to_csv('../../../data/main_data/melted_sun_hours.csv',index=False)

lockdown history melting

In [30]:
lock_df = pd.read_csv('../../../data/main_data/lockdown_history.csv')
lock_df.head()

,index,1-Feb,2-Feb,3-Feb,4-Feb,1-Mar,2-Mar,20-Mar,21-Mar,22-Mar,...,22-Oct,23-Oct,24-Oct,25-Oct,26-Oct,27-Oct,28-Oct,29-Oct,30-Oct,31-Oct
0,1,0,0,0,0,0,0,1,1,1,...,0.13,0.15,0.29,0.42,0.44,0.44,0.48,0.48,1.0,1.0
1,2,0,0,0,0,0,0,1,1,1,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0
2,3,0,0,0,0,0,0,1,1,1,...,0.00,0.12,0.12,0.12,0.12,0.12,0.19,0.19,1.0,1.0
3,4,0,0,0,0,0,0,1,1,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
4,5,0,0,0,0,0,0,1,1,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0

In [31]:
melted_lock_df = lock_df.melt(id_vars="index",
                               var_name = "date",
                               value_name= "locked_percn")

In [32]:
melted_lock_df.head()

   index   date  locked_percn
0      1  1-Feb           0.0
1      2  1-Feb           0.0
2      3  1-Feb           0.0
3      4  1-Feb           0.0
4      5  1-Feb           0.0

In [33]:
def date_converter(x,year='2020'):
    date,mon = str(x).split('-')
    mon_lis = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

    mon = mon_lis.index(mon)+1
    date = '{:s}/{:02d}/{:02d}'.format(year,mon,int(date))
    date_obj = datetime.strptime(date,'%Y/%m/%d')
    #date_obj = datetime(int(year),mon,int(date))
    return date_obj

melted_lock_df['formal_date'] = melted_lock_df.loc[:,'date'].apply(lambda x: date_converter(x))

In [34]:
melted_lock_df.head()

   index   date  locked_percn formal_date
0      1  1-Feb           0.0  2020-02-01
1      2  1-Feb           0.0  2020-02-01
2      3  1-Feb           0.0  2020-02-01
3      4  1-Feb           0.0  2020-02-01
4      5  1-Feb           0.0  2020-02-01

In [40]:
fin_ml_lock_df  = melted_lock_df.loc[:,['index','formal_date','locked_percn']]
fin_ml_lock_df['formal_date'] = fin_ml_lock_df['formal_date'].astype(np.datetime64)
#fin_ml_lock_df = fin_ml_lock_df.iloc[::-1]
fin_ml_lock_df.head()
fin_ml_lock_df.columns
fin_ml_lock_df.info()

   index formal_date  locked_percn
0      1  2020-02-01           0.0
1      2  2020-02-01           0.0
2      3  2020-02-01           0.0
3      4  2020-02-01           0.0
4      5  2020-02-01           0.0

Index(['index', 'formal_date', 'locked_percn'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5800 entries, 0 to 5799
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         5800 non-null   int64
 1   formal_date   5800 non-null   datetime64[ns]
 2   locked_percn  5800 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 136.1 KB

In [36]:
#fin_ml_lock_df.to_csv('../../../data/main_data/police_report.csv',index=False)